.Container {
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-items: "center";
  text-align:justify;
}

.Container  h1,
h2 {
  color: var(--bright-font-color);
  font-size: 30px;
}

h3 {
  color: var(--yellow);
  font-size: 24px;
}

p {
  color: var(--font-color); 
  font-size: 20px;
} 

li {
  color: var(--font-color);
  font-size: 20px;
}


li::marker {
  color: var(--yellow);
  font-size: 20px; 
}