.Container {
  padding: 20px 40px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-opacity);
}

#BlogTitle {
  margin: 0px;
}

#BlogDate {
  margin: 0px;
}

.Container:hover {
  cursor: pointer;
}

.Container a {
  color: transparent;
}

a:hover {
  background: none;
}

.DatePublished {
  font-size: 15px;
  font-weight: bold;
}
