.HeaderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.InnerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.InnerLeft > * {
    margin-right: 10px;
}

.HeaderContainer a {
    cursor: pointer;
}

.HeaderContainer a:hover {
    filter: none;
    background: transparent;
}