.animation-enter {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.animation-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.animation-exit {
  opacity: 1;
}

.animation-exit-active {
  opacity: 0;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
